
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Project Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"
        routerLinkActive="active">
        <a *ngIf="!isUserLoggedIn" class="nav-link" routerLink="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/lazy-load">Lazy Loaded<span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="isUserLoggedIn" class="nav-item"
        routerLinkActive="active">
        <a class="nav-link" routerLink="/task-list">Task List<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul *ngIf="!isUserLoggedIn" class="navbar-nav mr-auto pull-right m-r-0">
      <li class="nav-item"
        routerLinkActive="active">
        <a href="javascript: void(0)" (click)="login()" class="nav-link">Login<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a href="javascript: void(0)" (click)="signup()" class="nav-link">Sign-up<span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul *ngIf="isUserLoggedIn" class="navbar-nav mr-auto pull-right m-r-0">
      <li class="nav-item">
        <a class="nav-link">Welcome, {{userInfo.firstName}} {{userInfo.lastName}}<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a href="javascript: void(0)" (click)="logOut()" class="nav-link">Logout<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
